.banner {
    background-image: url("../../assets/banner5-bg.png");
    background-position: center center;
    background-size: 2000px;
}

.root {
    padding: 0 1rem;
}

.root h1 {
    font-size: 2.125rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1em;
}

.root h2 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 2em;
    margin-bottom: 1em;
}

.root h3 {
    margin-top: 1.8em;
    font-weight: normal;
    font-size: 1.2rem;
}

.root p {
    font-size: 1rem;
}

.root :global .MuiAlert-root {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1rem;
}

.root :global ul:not(.MuiList-root) {
    list-style: circle;
    padding-left: 2em;
    font-size: 1rem;
}

.root ul li:not(:last-of-type) {
    margin-bottom: 0.2em;
}

.root ol {
    font-size: 1rem;
    padding-left: 2em;
}

.root ol li:not(:last-of-type) {
    margin-bottom: 0.2em;
}

.root dl {
    font-size: 1rem;
}

.root dt {
    font-weight: bold;
    margin-bottom: 0.4em;
}

.root dt:not(:first-of-type) {
    margin-top: 0.8em;
}

.root dd {
    margin-left: 0;
}

.menuContainer {
    position: fixed;
    overflow-y: auto;
    min-width: 220px;
}

.menu {
    padding-top: 50px;
    padding-bottom: 50px;
}

.right {
    padding: 3rem 0;
}

.nestedList :global .MuiListItem-root {
    padding-left: 2rem;
}

.leftHand {
    transform: rotate3d(1, 1, 0, 180deg);
    display: inline-block;
    vertical-align: -10%;
}

.img1 {
    width: 768px;
}

.imgBox img {
    border: 1px solid #e8e8e8;
}

.table1 {
    border-collapse: collapse;
    margin: 1rem auto;
    font-size: 1rem;
}

.table1 .c1 {
    color: rgba(0, 0, 0, 0.65);
}

.table1 td {
    padding: 1rem 2rem;
}

.table1 tr {
    border-bottom: 1px solid #e4e7ed;
}

.table1 tr:first-of-type {
    border-top: 1px solid #e4e7ed;
}

.table1 tr:hover {
    background-color: #f7f8f9;
}

.link1 {
    margin-left: 1rem;
}

.link1 :global .MuiSvgIcon-root {
    font-size: 1rem;
    vertical-align: text-top;
}

.platformTab :global .MuiTab-root {
    text-transform: none;
}

@media (max-width: 599px) {
    .menu {
        padding-top: 0;
        padding-bottom: 0;
    }

    .menu :global .MuiListItem-root {
        padding-left: 4rem;
    }

    .nestedList :global .MuiListItem-root {
        padding-left: 6rem;
    }

    .img1 {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .root {
        width: 1200px;
        margin: 0 auto;
    }

    .right {
        float: right;
        width: 910px;
    }

    .imgBox {
        text-align: center;
    }

    .imgBox img {
        border-radius: 4px;
    }
}
