.footerBg {
    background-color: #4b5056;
}

.footer {
    margin: 0 auto;
    padding: 0 1.25rem 1.25rem 2.5rem;
}

.title {
    color: #ebeef5;
    font-size: 1.125rem;
    padding-bottom: 0.3125rem;
    border-bottom: #ebeef5 solid 0.0625rem;
    display: inline-block;
    margin-top: 2rem;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ebeef5;
}

.footer :global .iconfont {
    font-size: 1.125rem;
    margin-left: 0.625rem;
    cursor: default;
    vertical-align: middle;
    padding-right: 0.625rem;
}

.footer li {
    height: 2rem;
    line-height: 2rem;
}

.footer a {
    color: #ebeef5;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.copyright {
    text-align: center;
    color: #ccc;
    font-size: 0.8125rem;
    padding-top: 2rem;
}

.copyright a {
    color: #ccc;
}

@media (min-width: 600px) {
    .footerBg {
        min-width: 1200px;
    }

    .footer {
        width: 1200px;
    }
}
