.headerBg {
    background-color: #001529;
    min-width: 1200px;
}

.header {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    flex-shrink: 0;
}

.menu li:not(:first-of-type) {
    margin-left: 35px;
}

.menu :global a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-weight: bold;
}

.menu :global a.active {
    border-bottom: 3px solid #1890ff;
    color: rgba(255, 255, 255, 1);
}

.headerRight {
    display: flex;
    align-items: center;
}

.githubIcon {
    cursor: pointer;
    color: #c0c4cc;
}

.githubIcon:hover {
    color: white;
}

.expandIcon {
    vertical-align: middle;
    font-size: 1.4rem;
}

.productMenu :global .MuiListItemIcon-root {
    min-width: 40px;
    color: rgba(0, 0, 0, 0.5);
}

.productMenu .tip {
    color: #7f7f7f;
    padding: 0.5rem 1.1rem;
    display: inline-block;
}

.dialog1 {
    padding: 0 1.5rem 1.5rem;
}

.dialog1 .logo1 {
    vertical-align: -30%;
    margin-right: 0.5em;
    height: 33px;
}

.dialog1 :global .p2 {
    line-height: 2em;
}

.dialog1 .buttonBox {
    text-align: center;
}

.closeButton {
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    color: #7f7f7f;
}

.dialog1 .buttonBox :global .MuiButton-root {
    animation: breath-animate 3s infinite ease;
}
