.header {
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
}

.logo {
    height: 2rem;
}

.toggleMenu {
    font-size: 1.8rem;
}

.menuBox {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #fafafa;
    z-index: 1;

    overflow-y: auto;
}

.consoleBox {
    text-align: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.menuItem {
    padding-left: 2rem;
    padding-right: 2rem;
}

.productMenuItem {
    padding-left: 4rem;
}
