.root {
    overflow: hidden;
    position: relative;
}

.banner {
    display: flex;
    transition: transform 0.5s ease;
    transform: translate(0);
}

.itemBox {
    width: 100%;
    flex-shrink: 0;
    color: white;
}

.item {
    height: 28rem;
}

.indicators {
    position: absolute;
    bottom: 1rem;
    display: flex;
    left: calc(50% - 3.9rem);
}

.indicatorBox {
    margin: 0 0.3rem;
    opacity: 0.4;
    cursor: pointer;
    padding: 0.5rem 0;
}

.indicatorBox:hover {
    opacity: 0.7;
}

.indicatorBox.active {
    opacity: 1;
}

.indicator {
    width: 2rem;
    height: 0.1rem;
    background-color: white;
}

.itemBox1 {
    background-image: url("../../assets/banner4-bg.png"),
        linear-gradient(to right, #2f518b 0%, #0be1f4 100%);
    background-size: cover;
    background-position: center center;
}

.itemBox1 .title {
    font-size: 48px;
    margin-top: 0;
}

.itemBox1 .detail {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.5rem;
}

.itemBox1 .detail li {
    line-height: 2em;
}

.itemBox2 {
    background-image: url("../../assets/banner2-bg.png");
    background-size: cover;
}

.itemBox3 {
    background-image: url("../../assets/banner3-bg.jpg");
    background-size: cover;
    background-position: center 100%;
}

.itemBox2 .title,
.itemBox3 .title {
    font-size: 2.7rem;
    margin-top: 0;
}

.itemBox2 .detail,
.itemBox3 .detail {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 1.4rem;
}

.itemBox2 .detail li,
.itemBox3 .detail li {
    line-height: 3.5em;
}

.buttonBox {
    margin-right: 1rem;
}

.icon {
    font-size: 2rem;
    vertical-align: -9%;
    margin-right: 1rem;
}

.githubIcon {
    font-size: 1.7rem;
    margin-right: 1rem;
}

@media (min-width: 600px) {
    .root {
        min-width: 1200px;
    }

    .banner {
        min-width: 1200px;
    }

    .itemBox {
        min-width: 1200px;
    }

    .item {
        width: 1200px;
        padding: 0 40px;
        margin: 0 auto;
    }

    .button {
        font-size: 1.1rem;
        border-radius: 2rem;
    }
}

@media (max-width: 599px) {
    .item {
        padding: 1rem;
    }

    .itemBox1 .title {
        font-size: 2.4rem;
    }

    .itemBox1 .detail {
        font-size: 1.2rem;
    }

    .itemBox2 .title,
    .itemBox3 .title {
        font-size: 1.9rem;
    }

    .itemBox2 .detail,
    .itemBox3 .detail {
        font-size: 1rem;
    }

    .icon {
        font-size: 1.4rem;
    }

    .githubIcon {
        font-size: 1.2rem;
    }
}
