.sectionBg {
    background: linear-gradient(180deg, #f6f9fc 0, rgba(255, 255, 255, 0) 100%);
}

.section {
    margin: 2rem auto;
}

.title {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.missionBox {
    text-align: center;
    background-color: #4b5056;
    padding: 1.5rem 1rem 0.5rem;
}

.missionBox p {
    font-size: 1.25rem;
    color: white;
}

.hr1 {
    color: #7f7f7f;
    border-top: none;
    width: 1200px;
    margin-top: 2rem;
}

@media (max-width: 599px) {
    .title {
        font-size: 1.6rem;
    }

    .hr1 {
        width: 20rem;
    }

    .missionBox p {
        font-size: 1.15rem;
    }
}

@media (min-width: 600px) {
    .section {
        width: 1200px;
        padding: 1rem;
    }
}
