.tab {
    font-size: 1.2rem;
}

.img1 {
    width: 100%;
    border-radius: 0.4rem;
}

.ul1 {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ul1 li {
    font-size: 1rem;
}

.ul1 li :global .MuiSvgIcon-root {
    vertical-align: -15%;
    margin-right: 0.5rem;
}

.ul1 li:not(:last-of-type) {
    margin-bottom: 1.5rem;
}

.dissatisfied {
    color: #f5222d;
}

.satisfied {
    color: #52c41a;
}

.star {
    color: #f57f17;
}

.pre1 {
    height: 13.5rem;
}

.compare {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    color: #3f51b5;
}

/*.loginDemo {*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    top: 5rem;*/
/*    left: calc(50% - 6rem);*/
/*}*/

/*.loginDemo :global .MuiSvgIcon-root {*/
/*    color: #ddd;*/
/*    font-size: 4rem;*/
/*}*/

/*.loginDemo .input {*/
/*    width: 12rem;*/
/*    background-color: #e8e8e8;*/
/*    margin: 1rem 0;*/
/*    padding: 0.5rem 1rem;*/
/*    color: #7f7f7f;*/
/*    border-radius: 0.2rem;*/
/*}*/

/*.loginDemo .button {*/
/*    width: 12rem;*/
/*    margin: 1rem 0;*/
/*    color: white;*/
/*    background-color: rgba(63, 81, 181, 0.5);*/
/*    padding: 0.5rem 1rem;*/
/*    border-radius: 0.2rem;*/
/*}*/

.missionBox {
    text-align: center;
    background-color: #4b5056;
    padding: 1.5rem 1rem 0.5rem;
}

.missionBox p {
    font-size: 1.25rem;
    color: white;
}

.hr1 {
    color: #7f7f7f;
    border-top: none;
    margin-top: 2rem;
}

@media (max-width: 599px) {
    .tab {
        font-size: 1.1rem;
    }

    .ul1 li {
        font-size: 0.95rem;
        display: flex;
    }

    .ul1 li:not(:last-of-type) {
        margin-bottom: 0.7rem;
    }

    .ul1 :global .MuiSvgIcon-root {
        font-size: 1.2rem;
    }

    .compare {
        margin-top: 2rem;
    }

    .missionBox p {
        font-size: 1.15rem;
    }
}

@media (min-width: 600px) {
    .hr1 {
        width: 1200px;
    }
    .compare {
        font-size: 0.9rem;
    }
}
