.tab {
    font-size: 1.2rem;
}

.tabPanel {
    padding: 3rem;
    margin-top: 1.5rem;
    background-color: white;
}

.tabPanel .p1 {
    font-size: 1.2rem;
    margin-top: 0;
}

.tabPanel ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tabPanel li {
    font-size: 1rem;
}

.tabPanel :global .MuiSvgIcon-root {
    vertical-align: -10%;
    margin-right: 0.5rem;
}

.dissatisfied {
    color: #f5222d;
}

.satisfied {
    color: #52c41a;
}

.imgBox {
    text-align: center;
    position: relative;
}

.imgBox img {
    width: 30rem;
    border-radius: 0.6rem;
}

/*.loginDemo {*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    top: 5rem;*/
/*    left: calc(50% - 6rem);*/
/*}*/

/*.loginDemo :global .MuiSvgIcon-root {*/
/*    color: #ddd;*/
/*    font-size: 4rem;*/
/*}*/

/*.loginDemo .input {*/
/*    width: 12rem;*/
/*    background-color: #e8e8e8;*/
/*    margin: 1rem 0;*/
/*    padding: 0.5rem 1rem;*/
/*    color: #7f7f7f;*/
/*    border-radius: 0.2rem;*/
/*}*/

/*.loginDemo .button {*/
/*    width: 12rem;*/
/*    margin: 1rem 0;*/
/*    color: white;*/
/*    background-color: rgba(63, 81, 181, 0.5);*/
/*    padding: 0.5rem 1rem;*/
/*    border-radius: 0.2rem;*/
/*}*/

@media (max-width: 599px) {
    .tab {
        font-size: 1.1rem;
    }

    .imgBox img {
        width: 100%;
    }

    .tabPanel {
        padding: 1.5rem;
    }

    .tabPanel .p1 {
        font-size: 1.1rem;
    }

    .tabPanel li {
        font-size: 0.95rem;
        margin-bottom: 0.3rem;
        display: flex;
    }

    .tabPanel :global .MuiSvgIcon-root {
        font-size: 1.2rem;
    }
}

@media (min-width: 600px) {
    .tabPanel {
        border-radius: 0.3rem;
        border: 1px solid #e8e8e8;
    }
    .tabPanel li {
        line-height: 3rem;
    }
    .tabPanel :global .MuiGrid-container:not(:first-of-type) {
        margin-top: 2rem;
    }
}
