p {
  margin: 0.8em 0;
}
h1 {
  font-weight: normal;
  font-size: 24px;
}
h2 {
  font-size: 21px;
  font-weight: normal;
  margin-top: 40px;
  margin-bottom: 15px;
}
h3 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 25px;
  margin-bottom: 15px;
}
.docs-ol {
  background-color: #f7f8f9;
  padding: 10px 10px 10px 30px;
}
.docs-ol li {
  margin: 10px 0;
}
.docs-img {
  border: 1px solid #DCDFE6;
  border-radius: 5px;
}
.docs-img-div {
  text-align: center;
  display: inline-block;
  margin-right: 40px;
}
.docs-img-div p {
  margin-bottom: 0;
  color: #7f7f7f;
  font-size: 14px;
}
