body {
  font-family: PingFangSC-Light,"Microsoft YaHei",sans-serif;
  margin: 0;
  font-size: 15px;
  -webkit-text-size-adjust: none;
  color: #303133;
  line-height: 1.5;
}
@font-face {
  font-family: 'iconfont';  /* project id 545468 */
  src: url('//at.alicdn.com/t/font_545468_7achqbpbzh2p4x6r.eot');
  src: url('//at.alicdn.com/t/font_545468_7achqbpbzh2p4x6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_545468_7achqbpbzh2p4x6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_545468_7achqbpbzh2p4x6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_545468_7achqbpbzh2p4x6r.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont";
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.gradient-hr {
  background:linear-gradient( to right, rgba(230,230,230,0) 0%, rgba(230,230,230,1) 10%, rgba(230,230,230,1) 90%, rgba(230,230,230,0) 100% );
  height:1px;
}
.gradient-hr-title {
  position: relative;
  text-align: center;
}
.gradient-hr-title span {
  display: inline-block;
  position: relative;
  background: white;
  padding: 0 10px;
  z-index: 1;
}
.gradient-hr-title::after {
  display: block;
  content: '';
  top: 50%;
  position: absolute;
  background:linear-gradient( to right, rgba(230,230,230,0) 0%, rgba(230,230,230,1) 10%, rgba(230,230,230,1) 90%, rgba(230,230,230,0) 100% );
  height:1px;
  width:100%
}
#banner {
  margin: 0;
  padding: 40px 0;
  background-color: #3b5898;
  background-image: url("./mask.png");
  background-size: cover;
  color: white;
  text-align: center;
  font-size: 30px;
}
.section {
  margin: 40px auto;
  width: 980px;
}
.section+.gradient-hr {
  width: 980px;
  margin: 0 auto;
}
.section-title {
  text-align: center;
  font-size: 27px;
  margin: 0;
}
.section-summary {
  margin-top: 0.8em;
  text-align: center;
  font-size: 16px;
  color: #7f7f7f;
}
.section-bg-dark {
  background-color: #4b5056;
  color: #fff;
  padding: 1px;
}
.section-bg-dark .section-summary {
  color: #E6A23C;
}
.section-bg-gradient {
  padding: 1px;
  background: linear-gradient(180deg,#F6F9FC 0,rgba(255,255,255,0) 100%);
}
.note {
  color: #7f7f7f;
  font-size: 14px
}
/* 程序代码 */
pre {
  padding: 20px;
  background-color: #f7f8f9;
  font-size: 14px;
}
.el-button {
  font-family: PingFangSC-Light,"Microsoft YaHei",sans-serif;
}
.el-tooltip__popper.back-top {
  border: none;
  box-shadow: 0 0 6px rgba(0,0,0,.12);
  font-size: 13px;
}
